<%= stylesheet_link_tag 'books', media: 'all', 'data-turbolinks-track': 'reload' %>

<h1 class="mt-3">View Book</h1>

<div class="row">
    <div class="col-md-8 mt-3">
        <div class="card mt-3">
            <div class="card-body" data-controller="comment">
                <p class="card-text text-right">
                    <% if !@book.status.nil? && @book.status == "Draft" %>
                        <span class="badge badge-pill badge-default"><%= @book.status %></span>
                        <% elsif !@book.status.nil? && @book.status == "In Progress" %>
                            <span class="badge badge-pill badge-primary"><%= @book.status %></span>
                        <% elsif !@book.status.nil? && @book.status == "Published" %>
                            <span class="badge badge-pill badge-success"><%= @book.status %></span>
                    <% end %>
                </p>
                <h4 class="card-title"><%= @book.name %></h4>
                <p class="card-text"><%= @book.description %></p>
                <cite title=" Source Title" class=" mb-3">Author: <%= @book.author.full_name %></cite>
                <cite title=" Source Title" class="blockquote-footer mt-2 mb-3"> <%= @book.created_at.strftime("%B %d, %Y, at %I:%M %p")%></cite>
                <% if !@comments.empty? %>
                    <p class="card-text">Comments</p>
                <% end %>
                <% @comments.each do |comment| %>
                    <h6 class="card-title"><%= comment.user.full_name %></h6>
                    <cite title=" Source Title" class="blockquote-footer mb-2"> <%= comment.created_at.strftime("%B %d, %Y, at %I:%M %p")%></cite>

                    <blockquote class="ml-3"><p><em><%= comment.comment%></em></p></blockquote>
                <% end %>
                
                <%= render 'comment' %>
            </div>
        </div>
    </div>

</div>